
<div id="header">
    <div>
        <div class="top-row px-4 auth" style="background-color:darkred">
            <span class="rounded auth m-1 p-1" style="color:yellow">
                <NavMenu />
            </span>
            <span style="float:right">
                <LoginDisplay />
            </span>
        </div>
    </div>
    <div>
        <img src="https://www.umgc.edu/ui/images/umgc-logo-desktop.svg" alt="UMGC Branding" width="350" />
    </div>
</div>

@code {
}
