@using CaPPMS.Model
@namespace CaPPMS.Shared
<style>
.space-between {
    margin-bottom: 10px; /* Adjust this value as needed */
}
</style>
<div class="panel panel-default border @CollapseQuestion">
    <div class="panel-body">
        <div class="container-fluid">
            <div class="row">
                <div class="space-between">
                    <button @onclick="e => this.IsCollapsedReply = !this.IsCollapsedReply"
                            class="btn btn-primary" style="background-color:#A30606; color:#FFFFFF;">
                        @(this.IsCollapsedReply ? "+" : "-")
                    </button>
                    @if (IsAuthenticated)
                    {
                        <button @onclick="e => SelectFaq()"
                                class="btn btn-secondary" style="background-color:#A30606; color:#FFFFFF;">
                            Modify
                        </button>
                    }
                </div>
                <div class="font-italic" style="text-align:left">&nbsp;@FaqInformation.Question</div>
            </div>
            <br />
            <FaqReply
                CollapseReply="@(this.IsCollapsedReply ? "collapse" : "")"
                FaqInformation="@FaqInformation">

            </FaqReply>
        </div>
    </div>
    <br />
</div>

@code {
    [Parameter] public bool IsAuthenticated { get; set; }
    [Parameter] public FaqInformation FaqInformation { get; set; }
    [Parameter] public EventCallback<FaqInformation> OnSelectedQuestion { get; set; }
    [Parameter] public string CollapseQuestion { get; set; } = "collapse";
    private bool IsCollapsedReply = true;

    private void SelectFaq() {
        OnSelectedQuestion.InvokeAsync(FaqInformation);
    }
}
