@using CaPPMS.Model
@namespace CaPPMS.Shared

<div class="panel panel-default @CollapseReply">
    <div class="panel-body">
        <div class="container-fluid">
            <div class="row">
                <div>Placeholder Reply for When We Implement Replying to Questions</div>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public string CollapseReply { get; set; } = "collapse";

    private FaqInformation faqInfo = new FaqInformation();

    [Parameter]
    public FaqInformation FaqInformation
    {
        get
        {
            return faqInfo;
        }
        set
        {
            faqInfo = value;
        }
    }
}
