@using CaPPMS.Model
@namespace CaPPMS.Shared

<div>
    @foreach (string topic in this.faqTopicCollapseMap.Keys)
    {
        <div class="row">
            <div>
                <button @onclick="e => this.faqTopicCollapseMap[topic].isCollapsed = !this.faqTopicCollapseMap[topic].isCollapsed">
                    @(this.faqTopicCollapseMap[topic].isCollapsed ? "+" : "-")
                </button>
            </div>
            <div class="font-weight-bold" style="text-align:left">&nbsp;@topic</div>
        </div>
        foreach (FaqInformation faqInfo in this.faqTopicCollapseMap[topic].faqsWithTopic)
        {
            <FaqQuestion 
                CollapseQuestion="@(this.faqTopicCollapseMap[topic].isCollapsed ? "collapse" : "")"
                FaqInformation="@faqInfo">
            </FaqQuestion>
        }

    }
</div>

@code{

    public class FaqTopicCollaper
    {
        public string Topic { get; set; } = string.Empty;
        public List<FaqInformation> faqsWithTopic = new List<FaqInformation>();
        public bool isCollapsed = true;
    }

    private Dictionary<string, FaqTopicCollaper> faqTopicCollapseMap = new Dictionary<string, FaqTopicCollaper>();

    [Parameter]
    public IEnumerable<FaqInformation> FaqKeys
    {
        set
        {
            if (value is IEnumerable<FaqInformation>)
            {
                this.faqTopicCollapseMap.Clear();
                foreach (FaqInformation faqInfo in value)
                {
                    if (!this.faqTopicCollapseMap.ContainsKey(faqInfo.Topic))
                    {
                        this.faqTopicCollapseMap.Add(faqInfo.Topic, new FaqTopicCollaper());
                    }
                    this.faqTopicCollapseMap[faqInfo.Topic].faqsWithTopic.Add(faqInfo);
                }
            }
        }
    }
}