@using CaPPMS.Model
@namespace CaPPMS.Shared

<div>
    @foreach (FaqInformation entry in this.faqTopicCollapseMap.Keys)
    {
        <div class="row">
            <div class="col-sm-4">
                <button @onclick="e => this.faqTopicCollapseMap[entry] = !this.faqTopicCollapseMap[entry]">
                    @(this.faqTopicCollapseMap[entry] ? "+" : "-")
                </button>
            </div>
            <div class="col-sm-2 font-weight-bold">@entry.Topic</div>
        </div>
        <FaqQuestion 
            Collapse="@(this.faqTopicCollapseMap[entry] ? "collapse" : "")"
            FaqInformation="@entry">

        </FaqQuestion>
    }
</div>

@code{
    private Dictionary<FaqInformation, bool> faqTopicCollapseMap = new Dictionary<FaqInformation, bool>();

    [Parameter]
    public IEnumerable<FaqInformation> FaqKeys
    {
        get
        {
            return this.faqTopicCollapseMap.Keys;
        }
        set
        {
            if (value is IEnumerable<FaqInformation>)
            {
                this.faqTopicCollapseMap.Clear();
                foreach (FaqInformation faqInfo in value)
                {
                    this.faqTopicCollapseMap.Add(faqInfo, true);
                }
            }
        }
    }
}