<AuthorizeView>
    <Authorized>
        <a class="navbar-brand" href="#">@context.User.Identity.Name</a>
        <li class="nav-item">
            <a class="nav-link" href="MicrosoftIdentity/Account/SignOut">Log Out</a>
        </li>
    </Authorized>
    <NotAuthorized>
        <li class="nav-item">
            <a class="nav-link" href="MicrosoftIdentity/Account/SignIn">Log In</a>
        </li>
    </NotAuthorized>
</AuthorizeView>