@using CaPPMS.Data
@inject ProjectManagerService ProjectManager

<div class="rounded">
    <div class="d-flex">
        <div>
            <br>
            <h1>Submit Project</h1>
            <p>Submit a project for the Master of Information Systems with a Specialization in Software Engineering program at the University of Maryland Global Campus.
            </p>        
            <div class="submitidea" >
                <Idea ShowComments="false" ShowFileAttachments="false" ShowFormButton="Idea.FormButtons.Submit" />
            </div>
        </div>
    </div>
</div>


@code {

    
}