@using CaPPMS.Data
@inject ProjectManagerService ProjectManager

<div class="rounded">
    <div class="d-flex">
        <div>
            <br>
            <h1>Submit Project</h1>
            <p>
                Welcome to the project submission portal for the Master of Information Systems with a Specialization in
                Software Engineering program at the University of Maryland Global Campus.
                Here, students propose projects demonstrating their software engineering expertise within information
                systems. These submissions foster creativity, problem-solving, and innovation,
                encouraging alignment with industry demands in areas like web development, cybersecurity, and emerging
                technologies. Collaboration with mentors and professionals is encouraged to push boundaries and make
                impactful contributions to software engineering.
                These projects shape our learning community and prepare students for successful careers.
                Best wishes for your submissions; we're excited to see your innovative solutions.
            </p>
            <div class="submitidea">
                <Idea ShowComments="false" ShowFileAttachments="false" ShowFormButton="Idea.FormButtons.Submit" />
            </div>
        </div>
    </div>
</div>


@code {


}