/* Inside your custom CSS file */

/* Navbar styles */
.navbar {
    z-index: 1000; /* Ensure navbar appears on top */
}

/* For desktop view (viewport width >= 992px) */
@media (min-width: 992px) {
    .navbar-nav .nav-link {
        color: white !important;
    }

    .navbar-nav .nav-link.login-link {
        color: black !important;
    }
}

/* For mobile view (viewport width <= 991px) */
@media (max-width: 991px) {
    .navbar-nav .nav-link {
        color: black !important;
    }
}
