<header class="umgcHeader">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
        .navbar-dark {
            background-color: #A30606 !important;
        }
    </style>
    <nav class="navbar navbar-expand-md navbar-dark navbar-static-top bg-dark">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault2"
                aria-controls="navbarsExampleDefault2" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsExampleDefault2">
                <ul class="nav navbar-nav">
                    <a class="navbar-brand" href="">CaPPMS</a>
                </ul>
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="">Submit Project</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="projectlist">Projects</a>
                    </li>
                    <AuthorizeView>
                        <Authorized>
                            <li class="nav-item">
                                <a class="nav-link" href="previousprojects">Manage Projects</a>
                            </li>
                        </Authorized>
                    </AuthorizeView>
                    <li class="nav-item">
                        <a class="nav-link" href="about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="faqList">Questions</a>
                    </li>
                    <AuthorizeView>
                        <Authorized>
                            <li class="nav-item">
                                <a class="nav-link" href="users">Users</a>
                            </li>
                        </Authorized>
                    </AuthorizeView>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <LoginDisplay />
                </ul>
            </div>
        </div>
    </nav>
</header>
