@page "/"
@namespace CaPPMS.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="application-name" content="CaPPMS" />
    <meta name="description" content="Software engineering capstone project management and submission site. Assists UMGC SWEN 670 cohorts with using the software engineering skills learned throughout the course by giving them a real world project to complete." />
    <meta name="keywords" content="umgc, cappms, tdd, Technical Design Document, srs, Software Requirements Specification, user guide, runbook, programmer's guide, test case, test report, project plan, development, code" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>University of Maryland Global Campus(UMGC) SWEN 670 Capstone Project Management System - CaPPMS</title>
    <base href="~/" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="css/font-awesome/css/all.css" />
    <link href="css/site.css" rel="stylesheet" />
    <link href="CaPPMS.styles.css" rel="stylesheet" />
    <link href="_content/BlazorPro.Spinkit/spinkit.min.css" rel="stylesheet" />
</head>
<body>
    <component type="typeof(App)" render-mode="ServerPrerendered" />

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>

    <script src="_framework/blazor.server.js"></script>
</body>
</html>
