@page "/about"

<h3>About</h3>

<div class="rounded text-black-50">
    <div class="d-flex">
        <div class="col rounded  justify-content-md-center p-2 m-2 shadow">
            <div class="overflow-auto h-100 m-2" >
  <p>University of Maryland Global Campus (UMGC, formerly UMUC) was founded in 1947 as the College of Special and Continuation Studies, a branch of the University of Maryland's College of Education. In 1949, answering the call of the U.S. government, UMGC became the first university to send faculty overseas to educate active-duty military personnel in Europe. What started off as a noble experiment, with seven professors in six cities in Germany, has turned into a globally-recognized, award-winning institution that includes graduates from all 50 U.S. states, the District of Columbia, and over 20 countries and territories worldwide.</p>

<p>UMGC is an accredited state university that offers online and on-site academic programs in fast-growing and in-demand fields. With no-cost digital course materials in nearly every course, and multiple military locations in Europe, Downrange, and around the world, we give you the opportunity to earn a respected degree from just about anywhere life takes you. Even if you transfer between Europe, the USA and/or to Asia, we have UMGC teams there to ensure you can seamlessly continue and complete your education. Our understanding of military tuition assistance (TA), financial aid, scholarships, and degree plans will help you succeed.</p>
            </div>
        </div>
    </div>
</div>


@code {

}
