@using CaPPMS.Data

@inject FaqManagerService FaqManager

@page "/faqList"

<h3>FAQ List</h3>

<div class="sidebar" style="width:25%">
    <FaqQuestionSubmission></FaqQuestionSubmission>
    <FaqReplySubmission></FaqReplySubmission>
</div>
<div class="body-text">
    <FaqTopics FaqKeys="new List<FaqInformation>(FaqManager.GetFaqs)" />
</div>

@code {

}
