@using CaPPMS.Data

@inject FaqManagerService FaqManager

@page "/faqList"

<h3>FAQ List</h3>
@if (_selectedModify) { 
    <h2>Modifying</h2>
}
@if (_selectedReply)
{
    <h2>Replying</h2>
} 
<div class="sidebar" style="width:25%">
    <FaqQuestionSubmission></FaqQuestionSubmission>
    <FaqReplySubmission
        @bind-IsSelected="_selectedReply"
        CanDisplay="!_selectedModify"
    />
</div>
<div class="body-text">
    <FaqTopics 
        FaqKeys="new List<FaqInformation>(FaqManager.GetFaqs)" 
        @bind-IsSelected="_selectedModify"
        CanDisplay="!_selectedReply"/>
</div>

@code {
    private bool _selectedModify;
    private bool _selectedReply;
}
