@using CaPPMS.Data

@inject FaqManagerService FaqManager

@page "/faqList"

<h3>FAQ List</h3>

<div class="row">
    <div class="col-9">
        <FaqTopics FaqKeys="new List<FaqInformation>(FaqManager.GetFaqs)" />
    </div>
    <div class="col-3">
        <FaqQuestionSubmission></FaqQuestionSubmission>
        <FaqReplySubmission></FaqReplySubmission>
    </div>
</div>
@code {

}